//
// Top navbar - copied from Docsy theme and additional styling included.
//

.td-navbar-cover {
  background: $primary;

  @include media-breakpoint-up(md) {
    background: transparent !important;

    .nav-link {
      text-shadow: 1px 1px 2px $dark;
    }

    .brand-name {
      display: none;
    }
  }

  &.navbar-bg-onscroll .nav-link {
    text-shadow: none;
  }
}

.navbar-bg-onscroll {
  background: $primary !important;
  opacity: inherit;
}

.td-navbar {
  background: $bg-gradient-custom;
  min-height: 4rem;
  margin: 0;
  z-index: 32;

  .brand-name {
    display: none;
  }

  @include media-breakpoint-up(md) {
    position: fixed;
    top: 0;
    width: 100%;
  }

  .navbar-brand {
    text-transform: none;
    text-align: middle;
    margin: 0;
    padding: 0;

    .navbar-logo {
      svg {
        display: inline-block;
        height: 40px;
        width: 77px;
        border-top: none;
        padding: 0 10px;
      }
    }

    span {
      &:not(.navbar-logo) {
        text-transform: none !important;
      }
    }

    .text-uppercase {
      text-transform: none;
    }
  }

  .navbar-nav {
    .nav-link {
      color: rgba($color: #ffffff, $alpha: 1.0);
      &:hover {
        color: rgba($color: #ffffff, $alpha: 0.8);
      }
    }
  }

  .nav-link {
    text-transform: none;
    font-weight: $font-weight-bold;
  }

  .td-search-input {
    background-color: #ffffff;
    border: none;

    @include placeholder {
      color: $navbar-dark-color;
    }
  }

  .dropdown {
    min-width: 100px;
  }

  @include media-breakpoint-down(md) {
    padding-right: 0.5rem;
    padding-left: 0.75rem;
    align-items: flex-end;

    .td-navbar-nav-scroll {
      max-width: calc(100% + 0.75rem - 96px - 1.5rem);
      height: 2.5rem;
      margin-top: 0.25rem;
      overflow: hidden;
      font-size: 0.875rem;

      .nav-link {
        padding-right: 0.25rem;
        padding-left: 0;
      }

      .navbar-nav {
        margin-top: 0 !important;
        padding-bottom: 2rem;
        overflow-x: auto;
        white-space: nowrap;
        -webkit-overflow-scrolling: touch;
      }
    }
  }
}
