/*

Add styles or override variables from the theme here.

*/


// Theme colors

$primary: #41bbe0;
$secondary: #fff;

$bg-gradient-custom: linear-gradient(270deg, #014e65 0%, #3f6601 100%);

$bg-gray-light: #f2f2f2
